body{
    background-color: #113d3a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.jokeapp{
    width: 400px;
    min-height: 250px;
    background-color: #1C8D73;
    border-radius: 15px;
    padding: 12px;
}
.jokeapp h1{
    border-bottom: 2px solid black;
    text-align: center;
}
.jokeapp button{
    width: 100%;
    padding: 6px;
    border-radius: 15px;
    background-color: #113d3a;
    color: white;
    cursor: pointer;
}
.jokeapp button:hover{
    background-color: #1FAA59;
}